a {
    text-decoration: none !important;
}

.sidebar-tab {
    margin-bottom: 1rem;
    color: #13B196;
}

.tabs .active {
    color: #373435;
    font-size: 1.1rem;
    font-weight: 700;
}

.sub-tabs .active {
    color: #373435;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .5rem;
    background: rgba(229, 229, 229, 0.7);
}

.history-tab {
    color: #13B196;
    margin-right: 2rem;
}

.product-id {
    font-weight: bold;
}


.remove {
    display: none;
}

.navigation-tab {
    width: 15rem;
}

.ad-banner {
    width: 20rem;
}

.ad-banner img{
    width: 100%;
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
    .profile-tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navigation-tab {
        width: 100%;
    }
    .profile-tabs nav, .profile-tabs div {
        margin: 0 auto;
    }

    .navigation-tab .nav {
        flex-wrap: nowrap !important;
        width: 80%;
    }

    .navigation-tab .flex-column {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .ad-banner {
        width: auto;
    }
    
    .ad-banner img{
        /* width: 100%; */
        height: 20rem;
    }
}

@media screen and (max-width: 570px) {
    .profile-tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navigation-tab .flex-column {
        flex-direction: column !important;
        /* justify-content: start; */
    }
    .tab-block {
        text-align: center;
    }
    .ad-banner {
        margin: 0 auto;
    }

    .sub-tabs {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        text-align: start;
    }

    .history-tab {
        margin: .5rem 0;
    }
}