.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13b196;
}

.s1-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

img.baner {
  width: 90%;
  height: fit-content;
}

.price {
    font-size: 18px !important;
}

.item-branch-info {
    width: 100px;
}

.section-2 {
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.s2-imgs-box {
  display: grid;
  grid-gap: 7px;
}

.s2-img-item:nth-child(1) {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.s2-img-item:nth-child(2) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.s2-img-item:nth-child(3) {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.s2-c-items {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.s2-category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 7px;
  transition: 0.5s;
  width: 15%;
  text-align: center;
}

.s2-category-item:hover {
  background-color: #eee;
}

.section-3 {
  background: #f7f8fb !important;
  padding: 15px 5px;
}

.shop-area {
  display: flex;
  padding: 5px;
  flex-direction: column;
  background: #fff !important;
}

@media screen and (max-width: 576px) {
  .shop-area {
    max-width: 100% !important;
  }
}


.shopping-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.shopping-item {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}

.shopping-item .card-img-top {
  margin: 0 auto;
  width: 10rem;
}

@media screen and (min-width: 1336px) {
  .shopping-item {
    width: 22%;
    padding: 1rem;
  }

  .shopping-item-new {
    width: 100%;
    padding: 1rem;
  }
}

.slider-items {
  position: absolute;
  top: -50px;
  right: 15px;
}

.slider-items button {
  background: #13b196;
  color: #fff;
}

.vkorzinu {
  background: #f7f8fb !important;
}

.section-4 {
  width: 100%;
  padding: 15px 2px;
}

.brend-slider {
  align-self: flex-end;
  margin: 5px;
}

.brend-slider button {
  background: #13b196;
  color: #fff;
}

.brends {
  display: flex;
  flex-direction: column;
}

.s4-content {
  overflow: hidden;
  display: flex;
}

.s4-left-img {
  width: 70%;
  overflow: hidden;
}

.s4-left-img img {
  width: 100%;
}

.s4-right-content {
  position: relative;
  background: rgba(19, 177, 150, 0.7);
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: fit-content;
  width: 35%;
  color: #fff;
  margin-left: -60px;
  align-self: flex-end;
}

.s4-right-content p {
  text-align: justify;
}

.blog {
  width: 80%;
  overflow: hidden;
  display: grid;
  margin: auto;
}

.blog img:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.blog img:nth-child(2) {
  grid-column: 3 / span 3;
  grid-row: 1;
}

.blog img:nth-child(3) {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.blog img:nth-child(4) {
  margin-left: 90px;
  grid-column: 2 / span 3;
  grid-row: 2;
}


.section-5 {
  background: #f7f8fb;
  padding: 15px 2px;
}

.s5-1 {
  display: flex;

}

.map-contanier {
  display: flex;
  padding: 15px;
  background: url(../imgs/conact_background\ 1.png) no-repeat center;
}

.map-contanier iframe {
  width: 100%;
  height: 280px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more button {
  background: #148C84;
  color: #fff;
}

@media (max-width: 768px) {
  .section-2 {
    padding: 5px;
  }

  .s2-imgs-box {
    display: flex;
    flex-direction: column-reverse;
  }

  .s2-img-item {
    width: 100%;
  }

  .s2-img-item img {
    width: 100%;
  }

  .s2-c-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .shopping-items {
    justify-content: center;
  }

  .shopping-item {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
  }

  .shopping-item .card-img-top {
    width: 10rem;
    margin: 0 auto;
  }

  .s4-content {
    display: flex;
    flex-direction: column;
  }

  .s4-left-img {
    width: 100%;
  }

  .s4-right-content {
    width: 100%;
    padding: 5px;
    margin: 0 !important;
  }

  .s4-right-content p {
    font-size: 90%;
  }

  .blog img {
    margin: 0 !important;
  }

  .blog img:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .s5-1 {
    flex-direction: column;
  }

  .s5-img {
    position: relative;
  }

  .s5-img img {
    width: 100%;
  }

  .map-contanier {
    flex-direction: column-reverse;
    align-items: center;
  }

}

@media (max-width: 468px) {
  .section-1 {
    flex-direction: column;
  }

  img.baner {
    width: 100%;
    height: 300px;
  }

  .s2-category-item {
    width: 50%;
  }

  .blog {

    display: flex;
    flex-direction: column;
  }

  .blog img {
    height: 150px;
  }

  .shopping-item {
    width: 80%;
    padding: 1rem;
    margin: 1rem;
  }
}

.main-img {
  position: relative;
  overflow: hidden;
}

.main-img img {
  width: 100%;
}

.upload-more {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}

.btn-more {
  width: fit-content;
  background-color: #13b196 !important;
  border: none !important;
}

.card-attributes {
    position: relative;
}

.card-text-parent {
    height: 70px;
    padding: 10px 0;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-newInfo {
    color: #fff;
    background-color:#13b196;
    border-color: #13b196;
}

.card-text {
    color: #000;
    text-decoration: none;
}

.card-text:hover {
    text-decoration: none;
    color: #13b196;
}

.addCart {
    position: absolute;
    bottom: 10px;
}

.active-new {
    border: 1px solid #f52f57 !important;
    background-color: #fff !important;
    position: absolute;
    bottom: 0;
}

.filter-wrapper {
    display: flex;
    background-color: #F7F8FB;
}

.content-filter {
    width: 20%;
    background-color: inherit;
    padding: 10px;
}

.faq__detail {
    padding: 10px;
}

.filter-section {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.faq__detail {
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 5px;
}

.faq__summary {
    padding: 10px;
}

.section-title {
    font-size: 30px;
}

.filter-title {
    padding: 30px 0;
}

.product {
    padding: 50px 0;
}

.product-img {
    padding: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid #E5E5E5;
}

.details {
    padding: 10px;
    background: #F7F8FB;
}

.price {
    font-weight: bold;
    font-size: 23px;
    line-height: 158%;
}

.add-to-cart {
    width: 194px;
    height: 48px;
    background: #13B196;
    color: #fff;
}

.btn-like {
    width: 48px;
    height: 48px;
    background: rgba(19, 177, 150, 0.5);
    color: #fff;
    margin-left: 10px;
    text-align: center;
}

.btn-like a i {
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
    margin-top: 10px;
}


.product-description {
    width: 600px;
}


.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}
.accordion button[aria-expanded='true'] {
    color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    min-height: auto;
    overflow-x: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}



.comment-btn {
    width: 180px !important;
    height: 38px !important;
    border: 1px solid #eee !important;
    color: #000 !important;
    margin-left: 10px;
    text-align: center !important;
    background: #13B196 !important;
    padding-top: 0 !important;
    color: #fff !important;
}

.btn-pay {
    display: block;

}

.btn-pay:hover {
    text-decoration: none;
    color: #fff;
}

.wish-btn {
    background-color: inherit !important;
}

.wish-btn-now {
    background-color: inherit !important;
}

.delete-btn {
    background-color: inherit !important;
}

.active-heart {
    color: red !important;
}

.search-cards {
    width: 300px;
    margin: 5px;
}

.filter-subs {
    text-decoration: none;
    color: #000;
}

.filter-subs:hover {
    text-decoration: none;
    color: #03b5d2;
}

.filter-subs-parent {
    width: 100%;
    padding: 15px;
    border: 1px solid #fff;
    margin-top: 10px;
}

.recommends {
    width: 100%;
}

.card-image-content {
    height: 200px;
    text-align: center;
}

.card-image-content img {
    align-items: center;
    width: 100%;
    height: 100%;
}

.shopping-item {
    height: 450px;
}

.shopping-item-new {
    height: 450px;
}

.section-1 {
    height: 400px;
}

.main-banners {
    width: 100%;
    height: 100%;
}

.branch-item {
    width: 150px;
    height: 150px;
    border: 1px solid #eee;
}

.branch-item img {
    width: 100%;
    height: 100%;
}


.product-img img {
    width: 100%;
    height: 100%;
}

.comments {
    width: 100%;
    height: 100%;
    background: lightgray;
    display: block;
    padding: 10px;
}

.comments-divs {
    width: 90%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
}

.comment-user {
    color: #000;
    display: block;
}

.comment-comment {
    display: block;
    word-wrap: break-word;
}

.prosmotr-btn {
    position: absolute;
    bottom: 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    width: 75%;
    text-decoration: none;
    color: #000;
}

.prosmotr-btn:hover {
    text-decoration: none;
    color: #13b196;
}
